# Folders to not track anything from
discord/*
chromium/*
pcloud/*
GIMP/*
systemd/*
cef_user_data/*
micro/buffers/*
micro/backups/*
spotify/*
hyperbeam/*
rbw/*

# Files to ignore
qimgv/savedState.conf
zsh/.zcompdump
zsh/.zsh_history


